<html>
<head>
    <meta charset="utf-8" />
    <title>WebRtc tutorial</title>
</head>

<body>
    <div>
        <video id="localVideo" autoplay width="480px" controls></video>
        <video id="remoteVideo" autoplay width="480px" controls></video>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous"></script>
    <script>
const socket = io.connect('https://localhost', {secure: true});

let localVideo = document.getElementById('localVideo');
let remoteVideo = document.getElementById('remoteVideo');
let localStream = new MediaStream();
let remoteStream = new MediaStream();
let peerConnection = new RTCPeerConnection(servers);

function start() {
    showLocalVideo();
    peerConnection.onicecandidate = (event) => {
        var message = JSON.stringify({'ice': event.candidate});
        console.log("Send Candidate Message");
        sendMessage(message);
    }
    peerConnection.ontrack = (event) => {
        console.log("ontrack!!!!!!!!!!!!!!");
        remoteStream.addTrack(event.track, remoteStream);
        remoteVideo.srcObject = remoteStream;
    }
    peerConnection.onnegotiationneeded = (event) => {
        showRemoteVideo();
    }
}

var servers = {
    'iceServers': [{
        'urls': 'stun.l.google.com:19302'
    }]
};

function showLocalVideo(){
    navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true
    })
    .then((stream) => {
        localStream = stream;
        localVideo.srcObject = localStream;
        localStream.getTracks().forEach((track) => {
            peerConnection.addTrack(track, localStream);
        });
    })
    .catch((error) => {console.error});
}

function showRemoteVideo() {
    peerConnection.createOffer()
    .then((offer) => peerConnection.setLocalDescription(offer))
    .then(() => sendMessage(JSON.stringify({'sdp': peerConnection.localDescription})));
}

function sendMessage(message){
    socket.emit("clientMessage", message);
}

function readMessage(message){
    console.log(message);
    var msg = JSON.parse(message);
    if(msg.ice != undefined){
        console.log("Pass ICE Candidate");
        peerConnection.addIceCandidate(new RTCIceCandidate(msg.ice));
    }
    else if(msg.sdp != undefined && msg.sdp.type == "offer"){
        peerConnection.setRemoteDescription(new RTCSessionDescription(msg.sdp))
        .then(() => peerConnection.createAnswer())
        .then((answer) => peerConnection.setLocalDescription(answer))
        .then(() => sendMessage(JSON.stringify({'sdp': peerConnection.localDescription})))
        .then(() => console.log(peerConnection.localDescription));
    }
    else if(msg.sdp != undefined && msg.sdp.type == "answer"){
        peerConnection.setRemoteDescription(new RTCSessionDescription(msg.sdp));
    }
}

start();

socket.on("serverMessage", readMessage);
    </script>
</body>

</html>