<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Generator" content="EditPlus®" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <title>BETTER TEACHING</title>
        <!--css-->
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/font.css" />
        <link rel="stylesheet" href="../css/layout.css" />
        <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="../css/slick.css" />
        <!--js-->
        <script src="../js/jquery-3.4.1.min.js"></script>
		<script src="../js/slick.min.js"></script>
        <script src="../js/jquery.mCustomScrollbar.js"></script>
        <script src="../js/layout.js"></script>
    </head>
    <body>
        <div class="wrap login">
			<div class="inwrap">
				<div class="login_w">
					<h1 class="logo">
						<img src="img/logo.png" alt="better teaching"/>
					</h1>
					<form action="https://localhost/make-seminar" method="POST">
						<div class="login_box">
							<div class="lbox">
								<input type="text" id="input_rm" name="input_rm" class="login_input" placeholder="강의 또는 회의 이름" title="강의 또는 회의이름을 입력해주세요">
							</div>
							<div class="lbox">
								<input type="text" id="input_nm" name="input_nm" class="login_input" placeholder="참여자 이름" title="참여자 이름을 입력해주세요">
							</div>
							<div class="lbox r_date">
							
							</div>
							<div class="new_txt">
								<p>생성된 방번호를 통해 입장 가능하니<br/>참여자와 공유하시기 바랍니다.</p>
							</div>
							<div class="lbox sel_btn">
								<input type="submit" value="만들기">
								<a href="../" class="cancel">취소</a>
							</div>
						</div>
					</form>					
				</div>
			</div>
		</div>
    </body>
	<script src="../js/select_new.js"></script>
</html>
