<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Generator" content="EditPlus®" />
        <meta name="Author" content="" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <title>BETTER TEACHING</title>
        <!--css-->
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/font.css" />
        <link rel="stylesheet" href="../css/layout.css" />
        <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" href="../css/slick.css" />
        <!--js-->
        <script src="../js/jquery-3.4.1.min.js"></script>
		<script src="../js/slick.min.js"></script>
        <script src="../js/jquery.mCustomScrollbar.js"></script>
        <script src="../js/layout.js"></script>
    </head>
    <body>
        <div class="wrap view01">
			<!--header : s -->
			<div class="header">
				<div class="flo_left l_hcont">
					<img src="img/menu_icon.png" alt="메뉴" class="menuicon"/>
					<h1>함께하는 방과후 English Class</h1>
				</div>				
				<div class="flo_right r_hcont">
					<div class="d_ib first">
						<p class="people">현재 참여인원</p>
						<p class="people_nm"><span><img src="img/people_nm.png" alt="인원수"/></span>24명</p>
					</div>
					
					<div class="d_ib second">
						<div>
							<a href="#" class="h_btn share on" data-tooltip="화면공유"></a>
							<a href="meeting.html" class="h_btn p_people" data-tooltip="참여자"></a>
							<a href="#" class="h_btn chat off" data-tooltip="채팅"></a>
						</div>
					</div>
				</div>
			</div>
			<!--header : e -->

			<!--menu open : s-->
			<div class="menu">
				<div class="inner">
					<div class="menubox">
						<div class="cancel">
							<img src="img/menu_cancel.png" alt="닫기버튼" class="cancelicon"/>
						</div>
						<h1>함께하는 방과후 English Class1</h1>
						<ul>
							<li>개설자<span class="c_y">나선생</span></li>
							<li>현재 참여인원<span class="c_r">24명</span></li>
						</ul>
						<div class="cc_btn">
							<a href="login.html"><span></span>나가기</a>
						</div>
					</div>
				</div>
			</div>
			<!--menu open : e-->


			<div class="cont">
				
				<div class="view_all" style="display: none;">
					<div>
						<img src="img/sample_view.jpg" alt="풀화면"/>
					</div>
				</div>
				
				<div class="chat1_1_cc">
					<p>지금은</p>
					<p>1 : 1 대화 중</p>
					<p>입니다</p>
					<a href="meeting.html">종료하기</a>
				</div>

				<!-- chatbox : s -->
				<div class="view_lbox">
					<div class="chatbox">
						<div class="top mCustomScrollbar">
							<ul>
								<li>
									<h1>참여자 1</h1>
									<p>선생님~~ 방금 말씀하시거나 나중에 혹시 재방도 가능하실까요?? 오늘 수업 너무 좋은거 같아서 다시 한번 듣고 싶어서 그래요~~</p>
								</li>
								<li>
									<h1>참여자 2</h1>
									<p>고마워요~~하지만 오늘 중요한 수업인 만큼 집중해서 잘 들으시고, 재방은 어렵습니다.</p>
								</li>
								<li>
									<h1>참여자 1</h1>
									<p>선생님~~ 방금 말씀하시거나 나중에 혹시 재방도 가능하실까요?? 오늘 수업 너무 좋은거 같아서 다시 한번 듣고 싶어서 그래요~~</p>
								</li>
								<li>
									<h1>참여자 2</h1>
									<p>고마워요~~하지만 오늘 중요한 수업인 만큼 집중해서 잘 들으시고, 재방은 어렵습니다.</p>
								</li>
								<li>
									<h1>참여자 1</h1>
									<p>선생님~~ 방금 말씀하시거나 나중에 혹시 재방도 가능하실까요?? 오늘 수업 너무 좋은거 같아서 다시 한번 듣고 싶어서 그래요~~</p>
								</li>
								<li>
									<h1>참여자 2</h1>
									<p>고마워요~~하지만 오늘 중요한 수업인 만큼 집중해서 잘 들으시고, 재방은 어렵습니다.</p>
								</li>
							</ul>
						</div>
						<div class="bottom">
							<textarea placeholder="메세지를 입력하세요"></textarea>
							<div class="btn_file">
								<a href="" class="btn">전송</a>
								<a href="" class="file"><img src="img/icon_file.png"/></a>
							</div>
						</div>
					</div>					
					<div class="self_view">
						<div>
							<img src="img/sample_selfview.png" alt=""/>
							<div class="info_ctxt">
								<div class="nicknm">김아름</div>
							</div>
						</div>
					</div>
				</div>
				<!-- chatbox : e -->				

			</div>

			<!--footer : s -->
			<div class="footer ty01">
				<p>Copyright(c) By UXIS all rights reserved</p>
			</div>

			
		</div>
    </body>
</html>
